language: python

install:
    - wget https://github.com/gohugoio/hugo/releases/download/v0.55.6/hugo_0.55.6_Linux-64bit.deb
    - sudo dpkg -i hugo*.deb
    - pip install Pygments
    - git submodule add -f -b master https://$GITHUB_USER:$GITHUB_API_KEY@github.com/dfreniche.github.io public


script:
    - hugo

after_success: |
    rm *.deb

    echo "Deploying updates to GitHub..."

    cd public
    git add .

    msg="rebuilding site `date`"
    git commit -m "$msg"

    git push -f -q https://$GITHUB_USER:$GITHUB_API_KEY@github.com/dfreniche.github.io master
